* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
}

/* FIXED ✔️ */
.left,
.right {
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}

/* LEFT PANEL */
.left {
  background: black;
  position: relative;
}

.left .code ,
 .code  pre ,
 .code  code {
  height: 100%;
  width: 100%;
  border-radius: 0.7rem;
  margin: 0;
  font-family: 'Fira Code', monospace;
  font-size: 0.9rem;
  line-height: 1.4;
  overflow: auto;
  background-color: #131313;

}

/* Review Button */
.left .review {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: #acaff3;
  color: black;
  padding: 0.5rem 2rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 0.7rem;
}

/* RIGHT PANEL */
.right {
  background: #1e1e1e;
  color: white;
  overflow-y: auto;
  padding: 1rem;
}